# Banco de dados
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cmms_db
DB_PORT=5433
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/cmms_db"

# JWT
JWT_SECRET=troque_este_valor_em_producao
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# App
PORT=3000
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development